{#
/**
 * @file
 * Default theme implementation to display moodle_courses.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_moodle_courses()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {{ foo }}
</div>
